<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h2>Welcome, <%= user.name %>!</h2>
  <p>Age: <%= user.age %></p>
  <p>Gender: <%= user.gender %></p>
  <p>Country: <%= user.country %></p>

  <a href="/logout"><button>Logout</button></a>
</body>
</html>
